<h2>@ViewBag.Title</h2>

<p style="color: red" data-bind="text: MessageToClient"></p>

<div>
    <div class ="form-group">
        <label class ="control-label">Doctor Name: </label>
        <span class = "form-control" data-bind="text: DoctorName"></span>
    </div>
    <div class ="form-group">
        <label class ="control-label">Practice Name: </label>
        <span class="form-control" data-bind="text: PracticeName"></span>
    </div>
</div>
<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Street Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Phone Number</th>
       
    </tr>
    <tbody data-bind="foreach: Patients">
        <tr>
            <td class="form-group"><span class="form-control input-sm" data-bind="text: FirstName" ></span></td>
            <td class="form-group"><span class="form-control input-sm" data-bind="text: LastName"></span></td>
            <td class="form-group"><span class="form-control input-sm" data-bind="text: Street"></span></td>
            <td class="form-group"><span class="form-control input-sm" data-bind="text: City"></span></td>
            <td class="form-group"><span class="form-control input-sm" data-bind="text: State"></span></td>
            <td class="form-group"><span class="form-control input-sm" data-bind="text: ZipCode"></span></td>
            <td class="form-group"><span class="form-control input-sm" data-bind="text: PhoneNumber"></span></td>
           
        </tr>
    </tbody>
</table>
<p>

    <a href="/" class=" btn btn-default btn-sm">&laquo;Back to List</a>
</p>
